body {
  text-align: center;
  background-color: #6C9BCF;
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;
}

h1 {
  font-size: 7rem;
  color: #EBD8B2;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0 #DA0463;
}

h2{
  font-size: 2rem;
  color: #DBEDF3;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.a {
  background-image: url("images/tom1.png");
}

.s{
  background-image: url("images/tom2.png");
}

.d {
  background-image: url("images/tom3.png");
}

.f {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/crash.png");
}

.k {
  background-image: url("images/kick.png");
}

.l {
  background-image: url("images/snare.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}



.flashing {
  animation: flash 0.5s 5;
}

.back-button {
  position: fixed;
  top: 2rem;
  left: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}



@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 20px;
  }
}